
.inputField{
    margin-bottom: 20px;
    padding: 10px;
}
.form-design{
    padding: 20px;
    margin-top: 170px;
    background-color: whitesmoke;
    
}
.google-btn{
    background-color:goldenrod;
    color: white;
    margin-top: 10px;
    font-weight: bold;
    padding: 10px;
}
.logo{
    width: 100%;
}