.banner{
    width: 100%;
    height: 600px;
    background-image:url('../../../images/banner1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-position: center;
    position: relative;
}
.banner-details{
    font-weight: bold;
    margin-top: 100px;
    
}
.banner-details h1{
    font-size: 50px;
    font-weight: bold;
    color: white;
   
}
.banner-details p{
    color: rgb(14, 11, 11);
    font-weight: 600;
}
.details-btn{
    background-color:orangered;
    border: 1px solid orangered;
    border-radius: 10px;
    padding: 20px;
    font-weight: bold;
    color: white;
}