.card-container{
    width: 360px;
    height: 480px;
    padding: 2px;
    
    
}

.card-img{
    height: 220px;
}
.margin{
    text-align: center;
    width: 25%;
    align-items: center;
}
.delivery{
    color: #fa6400;
    font-size: 20px;
}
.header-color{
    color: #fa6400;
    font-weight: bold;
    font-size: 50px;
}